.toolbar {
  display: flex;
  justify-content: flex-start;
  height: 5vh;
}

.button {
  margin: auto 5px;
}

.label {
  margin: auto 0 auto auto;
}

.input {
  height: 30px;
  width: 150px;
  margin: auto 15px;
}
